body{
    background-color: rgb(80, 90, 231);
    text-align: center;
    margin-top: 13rem;
    margin: 0;
    padding: 0;
    
}

.img{
   
        width: 150px;
        margin: 0 auto;
}